<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz">
    <!-- Categories -->
    <ul class="list-group">
        <b>
            <li class="list-group-item" style="background-color: green;">Tables</li>
            <li class="list-group-item list-group-item-action"><a href="/admin/devices">Items</a></li>
            <li class="list-group-item list-group-item-action"><a href="/admin/brands">Brands</a></li>
            <li class="list-group-item list-group-item-action"><a href="/admin/countries">Countries</a></li>
            <li class="list-group-item list-group-item-action"><a href="/admin/categories">Categories</a></li>
        </b>
    </ul>

</html>