<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz">
    <!-- Categories -->
    <ul class="list-group">
        <b>
            <li class="list-group-item" style="background-color: green;">Tables</li>
            <li class="list-group-item list-group-item-action">Items</li>
            <li class="list-group-item list-group-item-action"> ... </li>
            <li class="list-group-item list-group-item-action"> ... </li>
            <li class="list-group-item list-group-item-action"> ... </li>
            <li class="list-group-item list-group-item-action"> ... </li>
        </b>
    </ul>

</html>